/* =========== google fonts ===============  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* =========== varibales css =============== */
:root {
  --header-height: 3rem;
  /* =========== colors =============== */
  /* color mode HSL */
  --hue: 197;
  --sat: 50%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  /* #333333 */
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  /* #000000 */
  --text-color: hsl(var(--hue), var(--sat), 46%);
  /* #757575 */
  --body-color: hsl(0, 0%, 98%);
  /* #fafafa */
  --container-color: #ffffff;
  /* =========== font and typography =============== */
  --body-font: 'Noto Sans TC', sans-serif, 'Poppins', sans-serif;
  /*  .5ren = 8px | 1rem = 16px ... */
  --big-font-size: 3.5rem;
  /* 56px */
  --h1-font-size: 2.25rem;
  /* 36px */
  --h2-font-size: 1.5rem;
  /* 24px */
  --h3-font-size: 1.25rem;
  /* 20px */
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  /* 14px */
  --smaller-font-size: 0.813rem;
  /* 13px */
  --tiny-font-size: 0.625rem;
  /* 10px */
  /* =========== font weight=============== */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* =========== margenes bottom =============== */
  /*  .5ren = 8px | 1rem = 16px ... */
  --mb-0-25: 0.25rem;
  /* 4px */
  --mb-0-5: 0.5rem;
  /* 8px */
  --mb-0-75: 0.75rem;
  /* 12px */
  --mb-1: 1rem;
  /* 16px */
  --mb-1-5: 1.5rem;
  /* 24px */
  --mb-2: 2rem;
  /* 32px */
  --mb-2-5: 2.5rem;
  /* 40px */
  --mb-3: 3rem;
  /* 48px */
  /* =========== z-index =============== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*  responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    /* 44px */
    --h1-font-size: 1.5rem;
    /* 24px */
    --h2-font-size: 1.25rem;
    /* 20px */
    --h3-font-size: 1rem;
    /* 16px */
    --normal-font-size: 0.938rem;
    /* 15px */
    --small-font-size: 0.813rem;
    /* 13px */
    --smaller-font-size: 0.75rem;
    /* 12px */
  }
}

/* =========== base =============== */
html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* =========== reusable css classes =============== */
.wrapper {
  overflow-x: hidden;
  max-width: 100%;
}

.section {
  padding: 6rem 0 2rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin: var(--mb-0-5) 0;
}

.section_subtitle {
  display: block;
  font-size: var(--normal-font-size);
  margin-bottom: 4rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

/* =========== layout =============== */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

/* =========== buttons =============== */
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button_icon {
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* variables dark theme */
body.dark-theme {
  /* color mode HSL */
  --title-color: hsl(var(--hue), var(--sat), 100%);
  /* #333333 */
  --title-color-dark: hsl(var(--hue), var(--sat), 80%);
  /* #000000 */
  --text-color: hsl(var(--hue), 20%, 50%);
  /* #757575 */
  --body-color: hsl(var(--hue), var(--sat), 10%);
  /* #fafafa */
  --container-color: hsl(var(--hue), var(--sat), 20%);
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .button_icon {
    width: 22px;
    height: 22px;
  }
}

/* for medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
  .section {
    padding: 2rem 0 4rem;
  }
  .section_subtitle {
    margin-bottom: var(--mb-3);
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  gap: 0.3rem;
}

.nav_icon,
.nav_toggle,
.nav_close {
  display: none;
}

/* active link */
.active-link,
.nav_link:hover {
  color: var(--title-color-dark);
}

/* change background  header */
.scroll-header {
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.nav_menu {
  margin-left: auto;
}

/* button dark/light */
.nav_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin: 0;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--title-color-dark);
}

/* =========== breakpoints =============== */
/* for medium devices */
@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }
  .nav {
    height: var(--header-height);
  }
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 0rem 4rem;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  /* show menu */
  .show-menu {
    bottom: 0;
  }
  .nav_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .nav_icon {
    font-size: 1.3rem;
  }
  .nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }
  .nav_close:hover {
    color: var(--title-color-dark);
  }
  .nav_toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }
  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: block;
  }
  .change-theme {
    margin-right: var(--mb-1);
    cursor: pointer;
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav_list {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.home_container {
  row-gap: 7rem;
}

.home_content {
  -ms-grid-columns: 116px (1fr)[2];
      grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.home_social-icon :hover {
  color: var(--title-color-dark);
}

.home_title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-5);
}

.home_title span {
  font-size: var(--h1-font-size);
}

.home_hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
}

.home_subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home_subtitle::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  top: 0.8rem;
}

.home_description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
  line-height: 1.5;
}

.button-flex svg {
  margin-left: var(--mb-0-5);
}

.home_img {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 300px;
  height: 300px;
  -webkit-animation: profile_animate 8s ease-in-out infinite 1s;
          animation: profile_animate 8s ease-in-out infinite 1s;
}

@-webkit-keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home_scroll {
  margin-left: 9.25rem;
}

.wheel {
  -webkit-animation: scroll 2s ease infinite;
          animation: scroll 2s ease infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(3.75rem);
            transform: translateY(3.75rem);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(3.75rem);
            transform: translateY(3.75rem);
  }
}

.home_scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.home_scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .home_content {
    -ms-grid-columns: 100px (1fr)[2];
        grid-template-columns: 100px repeat(2, 1fr);
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .home_hand {
    width: 26px;
    height: 26px;
  }
  .home_subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }
  .home_subtitle::before {
    width: 42px;
    top: 0.5rem;
  }
  .home_description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
  .home_img {
    width: 250px;
    height: 250px;
    -webkit-box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.3);
            box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.3);
  }
  .home_scroll {
    margin-left: 7.5rem;
  }
}

/* for medium devices */
@media screen and (max-width: 768px) {
  .home_content {
    -ms-grid-columns: 0.5fr 3fr;
        grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }
  .home_img {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    -ms-grid-column-align: initial;
        justify-self: initial;
    -webkit-box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.3);
            box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.3);
    width: 200px;
    height: 200px;
  }
  .home_data {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .home_scroll {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 760px) {
  .home_content {
    -ms-grid-columns: 0.5fr 1fr 1fr;
        grid-template-columns: 0.5fr 1fr 1fr;
  }
  .home_data {
    grid-column: initial;
  }
  .home_title {
    font-size: var(--h1-font-size);
  }
  .home_img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .home_content {
    -ms-grid-columns: 0.25fr 3fr;
        grid-template-columns: 0.25fr 3fr;
  }
  .home_img {
    width: 180px;
    height: 180px;
  }
  .home_hand {
    width: 22px;
    height: 22px;
  }
  .home_data {
    margin: 0 auto;
  }
}

.about_container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.about_img {
  width: 350px;
  border-radius: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about_info {
  -ms-grid-columns: (140px)[3];
      grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.about_box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}

.about_icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.about_title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin: var(--mb-0-5) 0;
}

.about_subtitle {
  font-size: var(--tiny-font-size);
}

.about_description {
  padding: 0 1rem 0 0;
  margin-bottom: var(--mb-2-5);
  line-height: 1.5;
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .about_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
  .about_img {
    width: 220px;
  }
  .about_box {
    padding: 0.75rem 0.5rem;
  }
  .about_data {
    text-align: center;
  }
  .about_info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about_description {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}

/* for medium devices */
@media screen and (max-width: 576px) {
  .about_info {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .about_description {
    padding: 0;
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .about_info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.skills_container {
  -ms-grid-columns: (290px)[3];
      grid-template-columns: repeat(3, 290px);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
}

.skills_subtitle {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-top: var(--mb-0-5);
  margin-bottom: var(--mb-1-5);
}

.skills_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.skills_group {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1rem;
}

.skills_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills_level {
  font-size: var(--smaller-font-size);
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .skills_container {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* for medium devices */
@media screen and (max-width: 576px) {
  .skills_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills_content {
    padding: 1.5rem;
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .skills_box {
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .skills_name {
    font-size: var(--small-font-size);
  }
}

.qualification_container {
  max-width: 768px;
}

.qualification_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--mb-2);
}

.qualification_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
}

.qualification_button:hover {
  color: var(--title-color-dark);
}

.qualification_icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification_active {
  color: var(--title-color-dark);
  display: block;
}

.qualification_sections {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr;
      grid-template-columns: 0.5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qualification_content {
  display: none;
}

.qualification_content-active {
  display: block;
}

.qualification_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.qualification_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification_calendar {
  font-size: var(--small-font-size);
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--text-color);
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--text-color);
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .qualification_container {
    margin: 0 auto;
  }
}

/* for medium devices */
@media screen and (max-width: 768px) {
  .qualification_container {
    margin: 0 var(--mb-1-5);
  }
}

@media screen and (max-width: 576px) {
  .qualification_sections {
    -ms-grid-columns: initial;
        grid-template-columns: initial;
  }
  .qualification_button {
    margin: 0 var(--mb-0-75);
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .qualification_data {
    gap: 0.5rem;
  }
  .qualification_button {
    font-size: 1rem;
  }
  .qualification_icon {
    font-size: 1.5rem;
  }
}

.portfolio_container {
  overflow: initial;
}

.portfolio_img {
  width: 100%;
  border-radius: 0.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
}

.portfolio_title {
  font-size: var(--h3-font-size);
  margin: var(--mb-0-5) 0;
}

.portfolio_description {
  margin-bottom: var(--mb-0-75);
  height: 40px;
}

.portfolio_button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio_button:hover .button_icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--title-color-dark);
}

.swiper-button-prev {
  left: -1.8rem;
  top: 10rem;
}

.swiper-button-next {
  right: -1.8rem;
  top: 10rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color-dark);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .swiper-container {
    width: 90%;
    margin: 0 auto;
  }
  .swiper-button-prev {
    top: 8rem;
  }
  .swiper-button-next {
    top: 8rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -3rem;
  }
}

@media screen and (max-width: 576px) {
  .swiper-container {
    width: 80%;
    margin: 0 auto;
  }
  .swiper-slide {
    padding: 0 0.15rem;
  }
}

.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 6rem;
  width: 100%;
}

.footer_container {
  padding: 2rem 0 6rem;
}

.footer_title,
.footer_link {
  color: var(--title-color);
}

.footer_title {
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer_link:hover {
  color: var(--title-color-dark);
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.footer_social-link {
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer_social-link:hover {
  background-color: var(--title-color-dark);
}

.footer_copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .footer_social-link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}

.scroll_up {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: var(--title-color);
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scroll_up:hover {
  background-color: var(--title-color-dark);
}

.scrollup_icon {
  font-size: 1.5rem;
  color: var(--container-color);
}

/* show scroll */
.show-scroll {
  bottom: 3rem;
}

/* =========== breakpoints =============== */
/* for large devices */
@media screen and (max-width: 992px) {
  .scroll_up {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }
  .scrollup_icon {
    font-size: 1.25rem;
  }
}

/* for medium devices */
@media screen and (max-width: 768px) {
  .show-scroll {
    bottom: 4rem;
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .scroll_up {
    right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */